/* 1 px = 0.5 vw */
.goalchartBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@mixin goalChartBarMixin($pvw: 1) {
    .goalchartBar {
        width: 150vw * $pvw;
        display: flex;
        flex-direction: column;
        gap: 10vw * $pvw;
        
        .textRegion {
            display: flex;
            flex-direction: row;
            font-size: 13vw * $pvw;
            font-weight: 600;

            .seperatorContainer {
                width: 10vw * $pvw;
                display: flex;
                justify-content: center;

                .vSeperator {
                    width: 1vw * $pvw;
                    background-color: rgba(208, 211, 214, 1);
                }
            }

            .percentage {
                flex: 1;
                text-align: right;
            }
        }

        .chartBar {
            background-color: rgba(231, 233, 239, 1);
            height: 12vw * $pvw;
            border-radius: 3vw * $pvw;

            .chartBarFilled {
                height: 100%;
                border-radius: 3vw * $pvw;
            }
        }
    }
}

.goalchartBarContainer {
    @include goalChartBarMixin($pvw: 0.55)
}

.goalchartBarContainer.config {
    @include goalChartBarMixin($pvw: 0.3)
}