/* 1 px = 0.5 vmin */
.goalchartBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@mixin goalChartBarMixin($pvmin: 1) {
    .goalchartBar {
        width: 150vmin * $pvmin;
        display: flex;
        flex-direction: column;
        gap: 10vmin * $pvmin;
        
        .textRegion {
            display: flex;
            flex-direction: row;
            font-size: 13vmin * $pvmin;
            font-weight: 600;

            .seperatorContainer {
                width: 10vmin * $pvmin;
                display: flex;
                justify-content: center;

                .vSeperator {
                    width: 1vmin * $pvmin;
                    background-color: rgba(208, 211, 214, 1);
                }
            }

            .percentage {
                flex: 1;
                text-align: right;
            }
        }

        .chartBar {
            background-color: rgba(231, 233, 239, 1);
            height: 12vmin * $pvmin;
            border-radius: 3vmin * $pvmin;

            .chartBarFilled {
                height: 100%;
                border-radius: 3vmin * $pvmin;
            }
        }
    }
}

.goalchartBarContainer {
    @include goalChartBarMixin()
}

.goalchartBarContainer.config {
    @include goalChartBarMixin($pvmin: 0.8)
}