/* 1 px = 0.5 vmin */
.goalchartSemiCircularContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

@mixin semiCircleMixin($pvmin: 1) {
    .semiCircle {
        width: 130vmin * $pvmin;
        margin-top: 15vmin * $pvmin;
        position: relative;

        .chartRegion {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .circularPart {
                height: 100%;
                width: 100%;
            }
        }

        .textRegion {
            display: flex;
            flex-direction: column;
            margin-top: 26vmin * $pvmin;
            align-items: center;

            .percentage {
                font-size: 18vmin * $pvmin;
                font-weight: 900;
            }

            .detailNumbers {
                display: flex;
                flex-direction: row;
                font-size: 10vmin * $pvmin;
                font-weight: 600;
                margin-top: 3vmin * $pvmin;

                .seperatorContainer {
                    width: 10vmin * $pvmin;
                    display: flex;
                    justify-content: center;

                    .vSeperator {
                        width: 1vmin * $pvmin;
                        background-color: rgba(208, 211, 214, 1);
                    }
                }
            }
        }
    }
}

.goalchartSemiCircularContainer {
    @include semiCircleMixin()
}

.goalchartSemiCircularContainer.config {
    @include semiCircleMixin($pvmin: 0.8);

    .semiCircle {
        margin-top: 20vmin;
    }
}