/* 1 px = 0.5 vmin */
.goalchartSemiCircularContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

@mixin semiCircleMixin($pvw: 1) {
    .semiCircle {
        width: min(130vw * $pvw, 260vh * $pvw);
        position: relative;

        .chartRegion {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .circularPart {
                height: 100%;
                width: 100%;
            }
        }

        .textRegion {
            display: flex;
            flex-direction: column;
            margin-top: min(26vw * $pvw, 52vh * $pvw);
            align-items: center;

            .percentage {
                font-size: min(18vw * $pvw, 36vh * $pvw);
                font-weight: 900;
            }

            .detailNumbers {
                display: flex;
                flex-direction: row;
                font-size: min(10vw * $pvw, 20vh * $pvw);
                &.longText {
                    font-size: min(7vw * $pvw, 14vh * $pvw);
                    margin-top: min(6vw * $pvw, 12vh * $pvw);
                }
                &.longLongText {
                    font-size: min(5.5vw * $pvw, 11vh * $pvw);
                }
                font-weight: 600;
                margin-top: min(3vw * $pvw, 6vh * $pvw);

                .seperatorContainer {
                    width: min(10vw * $pvw, 20vh * $pvw);
                    display: flex;
                    justify-content: center;

                    .vSeperator {
                        width: 1px;
                        background-color: rgba(208, 211, 214, 1);
                        body[theme-mode="dark"] & {
                            background-color: rgba(207, 207, 207, 0.15);
                        }
                    }
                }
            }
        }
    }
}

.goalchartSemiCircularContainer {
    @include semiCircleMixin($pvw: 0.63)
}

.goalchartSemiCircularContainer.config {
    @include semiCircleMixin($pvw: 0.37);
}