html, #root, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }
  
  .goal-app {
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-top: 1px solid #dee0e3;
  }
  
  .goal-chart {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
    font-family: Roboto, 'Source Sans Pro', 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  }
  
  .config-panel {
    width: 340px;
    overflow: auto;
    /* justify-content:flex-start; */
    border-left: 1px solid #dee0e3;
    position: relative;
    /* width: 350px; */
  }
